
div#commentbar div{
	float: left;
	padding: 2px;
	vertical-align: middle;
	font-size: 1.7em;
}

div#commentbar p{
    padding: 5px;
}

div.comment_bar_thumb_container{
	width: 15%
}

img.commbent_bar_thumb{
	max-height: 100px;
	margin: 10px 0px 0px 20px;
	vertical-align: midd
}

.comment_bar_required_text_container{
	width: 80%;
	
}

textarea.comment-box{
    height:24px;
    width: 47%;
    vertical-align:middle;
}